.app {
	margin: auto;
	width: 100%;
  	padding: 10px;
}

.control-panel {
	background-color: #2b4863;
	margin: 0 auto;
	padding-top: 50px;
  	padding-bottom: 50px;
  	text-align: center;
}

.control-part {
	display: inline-block;
	padding-left: 15px; 
	padding-right: 15px; 
}

#new-array-button {
	background-color: #9e9844;
	border-color: white;
	border-radius: 10px;
	color: white;
	font-family: monospace;
	font-size: 16px;
}

#array-slider {
	-webkit-appearance: none; 
	height: 6px;
	background-color: #e8e8e1;
}

#array-slider:disabled {
	-webkit-appearance: none; 
	height: 6px;
	background-color: #b3b3ad;
}

#array-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	background: #b8b044;
	cursor: pointer;
}

#array-slider:disabled::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	background: #9e9e80;
	cursor: pointer;
}

#array-slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #4CAF50;
	cursor: pointer;
}

.toggle-button {
	background-color: #2b4863;
	border-color: white;
	border-radius: 10px;
	font-family: monospace;
	font-size: 16px;
}

.toggle-button:hover {
	background-color: #913c33 !important;
	border-color: white;
	border-radius: 10px;
	font-family: monospace;
	font-size: 16px;
}

.toggle-button.active {
	background-color: #913c33 !important;
	border-color: #913c33 !important;
	border-radius: 10px;
	font-family: monospace;
	font-size: 16px;
}

#sort-button {
	border-radius: 10px;
	font-family: monospace;
	font-size: 16px;
}

.display {
  	width: 100%;
  	margin: 0 auto;
  	transform: scaleY(-1);
  	text-align: center;
}

.array-bar {
	display: inline-block;
	border-radius: 5px;
}

